.background {
  overflow: hidden;
}

.background-paralax {
  position: absolute;
}

.background-button {
  position: absolute;
  background-color: #e7364d;
  width: 254px;
  height: 158px;
}

.background-button a {
  color: #96ea39;
  position: absolute;
}
