.container-paralax {
  position: relative;
}

.paralax-baron-one {
  position: absolute;
  left: -30%;
}

.paralax-fuite {
  position: absolute;
  right: -100%;
}

.paralax-danger {
  position: absolute;
  left: -60%;
}

.paralax-baron-two {
  position: absolute;
  right: -100%;
}

.paralax-sword {
  position: absolute;
  left: -30%;
}
